.bg-light {
    background-color: #efdfcb !important;
}

.navbar-letters-color {
    color: #222122;
}

.navbar {
    box-shadow: 0px 4px 11px -9px;
    z-index: 1;
}

h1,
h2,
h3,
p {
    color: #222122;
}

a {
    color: #222122;
    text-decoration: none;
}

.footbar-letters-color {
    color: #222122;
}

.elfsight-app-5c332210-1d3b-4bbe-a12e-3b587e7ba2cc>a {
    display: none !important;
    visibility: hidden !important;
}

/* marrom escuro #222122
    background-color: #debe97;
    bg-light (navabr): #efdfcb;
  */